spring.application.name=leja

spring.datasource.url=jdbc:postgresql://localhost:5432/leja
spring.datasource.username=YOUR_DB_USERNAME
spring.datasource.password=YOUR_DB_PASSWORD

spring.jpa.hibernate.ddl-auto=update